# Build artifacts (keep source .asm, exclude .bin except boot.bin and bios.bin)
*.bin
!boot.bin
!bios.bin

# Test files
test_*.asm
test_*.bin
boot_*.asm
boot_*.bin
!boot.asm
!boot.bin

# Intermediate build files
A

# OS files
.DS_Store

# Downloaded CP/M source (can be regenerated)
cpm_build/

# Downloaded software collection (clone from https://github.com/skx/cpm-dist)
software/
